<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletIndex</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRdLogin</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletRdLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearTorneo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletCrearTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormularioTorneo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletFormularioTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletParticipanteTorneo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletParticipanteTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddParticipantes</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletAddParticipantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRdResultado</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletRdResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFaseResultado</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletFaseResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmparejamientoResultado</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletEmparejamientoResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTorneosActivos</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletTorneosActivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTorneosTerminados</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletTorneosTerminados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTorneos</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletMostrarTorneos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTorneo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletMostrarTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTorneoTerminado</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletMostrarTorneoTerminado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTorneoActivo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletMostrarTorneoActivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargarOrganizador</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletCargarOrganizador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRdBorrarTorneo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletRdBorrarTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarTorneo</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletBorrarTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTorneoActivoOrg</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletMostrarTorneoActivoOrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarTorneoTerminadoOrg</servlet-name>
        <servlet-class>projecto.projectofinal.controlador.ServletMostrarTorneoTerminadoOrg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIndex</servlet-name>
        <url-pattern>/ServletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRdLogin</servlet-name>
        <url-pattern>/ServletRdLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearTorneo</servlet-name>
        <url-pattern>/ServletCrearTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormularioTorneo</servlet-name>
        <url-pattern>/ServletFormularioTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletParticipanteTorneo</servlet-name>
        <url-pattern>/ServletParticipanteTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddParticipantes</servlet-name>
        <url-pattern>/ServletAddParticipantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRdResultado</servlet-name>
        <url-pattern>/ServletRdResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFaseResultado</servlet-name>
        <url-pattern>/ServletFaseResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmparejamientoResultado</servlet-name>
        <url-pattern>/ServletEmparejamientoResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTorneosActivos</servlet-name>
        <url-pattern>/ServletTorneosActivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTorneosTerminados</servlet-name>
        <url-pattern>/ServletTorneosTerminados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTorneos</servlet-name>
        <url-pattern>/ServletMostrarTorneos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTorneo</servlet-name>
        <url-pattern>/ServletMostrarTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTorneoTerminado</servlet-name>
        <url-pattern>/ServletMostrarTorneoTerminado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTorneoActivo</servlet-name>
        <url-pattern>/ServletMostrarTorneoActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargarOrganizador</servlet-name>
        <url-pattern>/ServletCargarOrganizador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRdBorrarTorneo</servlet-name>
        <url-pattern>/ServletRdBorrarTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarTorneo</servlet-name>
        <url-pattern>/ServletBorrarTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTorneoActivoOrg</servlet-name>
        <url-pattern>/ServletMostrarTorneoActivoOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarTorneoTerminadoOrg</servlet-name>
        <url-pattern>/ServletMostrarTorneoTerminadoOrg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
